.app .content {
  padding: 20px;
}

.products-wrapper {
  display: inline-flex;
  width: 100%;
  flex-direction: column;
}

.products-wrapper input {
  width: 200px;
}

header .active{
  color: red !important;
}

header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.main-layout main{
  padding-top: 75px !important;
}
