.btn-xl {
  padding: 20px 40px;
  font-size: 18px;
}

.btn-lg {
  padding: 16px 32px;
  font-size: 16px;
}

.btn-sm {
  padding: 8px 16px;
  font-size: 12px;
}

.btn-success {
  background-color: green;
}

.btn-danger {
  background-color: red;
}
